<div *ngFor='let item of videoList; let i = index' [ngClass]="{'row': (i+1)%3== 0}">
    <div class="col-4">
        <div class="card border-dark m-2">
            <iframe class="card-img-top" [src]="getEmbedUrl(item) | safe" *ngIf='item.embed' frameborder="0"
                    allowfullscreen>
                Loading...
            </iframe>
            <div class="card-body">
                <p class="card-text">{{ item.description }}</p>
                <a routerLink='/videos/{{ item.slug }}' routerLinkActive="active" class="btn btn-primary">Go to {{
                    item.title }}</a>
            </div>
        </div>
    </div>
</div>
